.bar:first-child{
  width: 248px;
  height: 100vh;
  background-color: rgba(80, 80, 80, .8);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: .4s width;
  /* overflow: hidden; */
  position: fixed;
}
.bar > button{
  margin: 0 0 0 auto;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: whitesmoke;
  cursor: pointer;
}
.bar:first-child > button > svg{
  padding: 0;
  padding-top: 0.8rem;
}
.bar:first-child > div{
  width: 40px;
  height: 1.5px;
  margin: 0.8rem 0;
  background-color: whitesmoke;
  transition: .4s width;
}
.bar:first-child > article{
  width: 228px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.bar:first-child > article ul{
  margin: 0;
  list-style: none;
  height: 0px;
  overflow: hidden;
  transition: .4s height;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.bar:first-child > article li{
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bar:first-child > article a{
  color: whitesmoke;
  text-decoration: none;
}
.bar:first-child > article a:hover{
  text-decoration: underline;
}
.bar:first-child div{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  margin: 0;
  padding-left: 0;
  justify-content: left;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  color: whitesmoke;
  cursor: pointer;
}
.bar:nth-child(2){
  margin-left: 60px;
  margin-right: 60px;
}
.bar svg{
  font-size: 2rem;
  color: whitesmoke;
  padding: 0.8rem 0;
}
.bar > aside{
  position: absolute;
  left: 60px;
}
.bar > aside ul{
  list-style: none;
  width: 100px;
  padding: 10%;
  background-color: rgba(80, 80, 80, .8);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bar > aside a{
  font-size: 1.1rem;
  color: whitesmoke;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}
.bar > aside a:hover{
  text-decoration: underline;
}